*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// Colours:
$backgroundColour: #17181F;
$textColour: #EEEDF0;
$accent: #6C72CB;
$contrast: #CB69C1;

// Mixins:
@mixin fontStyles{
    color: $textColour;
    font-size: 1em;
    font-family: 'Inter', sans-serif;

}

body{
    @include fontStyles;
    background-color: $backgroundColour;
}

// Introduction to Page:
.introContainer{
    width: 35vw;
    margin-left: 10em;
    .hello{
        font-size: 1em;
        color: $accent;
    }
    .name{
        margin-bottom: 8px;
        font-size: 72px;
        color: lighten($color: $textColour, $amount: 25);
    }
    .myPortfolio{
        margin-bottom: 8px;
        font-size: 40px;
        color: darken($color: $textColour, $amount: 5);
    }
    .generalTxt{
        color: darken($color: $textColour, $amount: 7)
    }
    transform: translateY(35vh);
}

// About Me Section:
.aboutMeContainer{
    margin-left: 10em;
    display: flex;
    flex-direction: row;
    transform: translateY(30vh);
    .about-label{
        color: $accent;
        font-size: 32px;
        margin-bottom: 10px;
    }
    .aboutMe-details{
        width: 600px;
    }
    .aboutMe-text{
        p{
            margin: 1em 0;
            font-size: 14px;
            span{
                color: $contrast;
            }
        }
    }
}

// Project Cards
.projectsContainer{
    display: grid;
    transform: translateY(30vh);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2em;
    padding: 50px;

    a{
        text-decoration: none;
        @include fontStyles;
    }
    .card{
        padding: 10px;
        background: $backgroundColour;
        background-size: cover;
        border-radius: 8px;;
        box-shadow: 14px 14px 47px #0f1015, -14px -14px 47px #1f2029;
        &:hover{
            transition: all 0.3s ease;
            box-shadow: 25px 25px 58px #090a0c, -25px -25px 58px #252632;
        }
        span{
            display: block;
            color: $accent;
            margin-bottom: 0.5em;
            line-height: 1.15em;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }
        h2{
            margin-bottom: 0.8em;
        }
        p{
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 20px;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        min-height: 250px;
    }
}


// For Scroll Snap
.content-container{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    .scroll-area{
        top: 0;
        height: 100vh;
        width: 100%;
        scroll-snap-align: start;
    }
}