@use './styles/mixins' as m;

body{
  background-color: rgb(31, 30, 33);
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%; 
  height: calc(100vh - 5em); 
  overflow: unset; 
  scrollbar-width: none;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.intro-text{
  color: aliceblue;
}

