
// $bg-colour: #2d2d2d;
$bg-colour: #FDF8F3;

$text-colour: #7b7169;
$text-colour-secondary: #8D766F;

$scroll-button: #dfdaca;

// Creamy color scheme
$creamy-white: #FDF8F3;    // Primary background color
$soft-taupe: #D9C6B7;       // Main color for body text
$muted-brown: #8D766F;      // Accent color for headings
$pale-gold: #ECC68E;        // Highlight or accent color for interactive elements

// Additional colors
$light-pink: #F8D9DC;       // Card background color for a soft and feminine touch
$subtle-green: #D8E5D4;     // Card background color for a fresh and natural vibe
$pastel-blue: #C3D9E8;      // Card background color for a calm and serene feel
$mellow-yellow: #F7E8B1;    // Card background color for a warm and inviting look