
// Light Mode
$bg-colour-light: #FDF8F3;    // Primary background color
$text-colour-light: #7b7169;       // Main color for body text
$text-colour-2-light: #8D766F;      // Accent color for headings
$highlight-colour-light: #ECC68E;        // Highlight or accent color for interactive elements
$contrast-colour-light: #D8E5D4;     // Main contrast colour

// Dark mode
$primary-color-dark: #FDF8F3;
$text-colour-dark: #7b7169;
$text-colour-2-dark: #3fed70;
$highlight-color-dark: #D8E5D4;
$contrast-color-dark: #ECC68E;

// Additional colors      
$pastel-blue: #C3D9E8;      
$mellow-yellow: #F7E8B1; 

// Default to Light Mode
$bg-colour: $bg-colour-light;
$text-colour: $text-colour-light;
$text-colour-secondary: $text-colour-2-light;
$highlight-colour: $highlight-colour-light;
$contrast-colour: $contrast-colour-light;

$scroll-button: #877c73;

// For Computer Loader
$computer-colour: #b09d95;   
$ground-colour: #3fed70;
$ground-colour-2: #b8f254;
$computer-screen: #9cd7f5;