@use 'helpers' as h;

@mixin textStyle(){
    color: h.$text-colour;
}

$breakpoints: (
    xs: 400px,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);


@mixin paddingXsm {
    @media (min-width: map-get($breakpoints, sm)){
        padding-left: 16px;
        padding-right: 16px;
    }
    padding-left: 6px;
    padding-right: 6px;
}

@mixin paddingY {
    @media (min-width: map-get($breakpoints, sm)){
        padding-top: 16px;
        padding-bottom: 16px;
    }
    padding-top: 6px;
    padding-bottom: 6px;
}

@mixin sectionPadding {
    @media (min-width: map-get($breakpoints, xs)){
        padding: 16px;
        margin: 0 2em;
    }
    @media (min-width: map-get($breakpoints, sm)){
        padding: 16px;
        margin: 0 2em;
    }
    @media (min-width: map-get($breakpoints, md)){
        padding: 16px;
        margin: 0 5em;
    }
    padding: 6px;
    margin: 0 8em;
}

@mixin buttonBottom {
    @media (min-width: map-get($breakpoints, xs)) {
        bottom: 10px;
    }
    @media (min-width: map-get($breakpoints, md)) {
        bottom: 16px;
    }
    bottom: 32px;
}

@mixin responsiveHeight{
    @media (min-height: map-get($breakpoints, md)) {
        height: 550px;
    }
    @media (min-height: map-get($breakpoints, xl)) {
        height: auto;
    }
    height: 350px;
}

@mixin sectionHeadText{
    color: h.$text-colour;
    font-size: 30px;

    @media (min-width: map-get($breakpoints, xs)) {
        font-size: 1.25em;
    }
    @media (min-width: map-get($breakpoints, sm)) {
        font-size: 1.5em;
    }
    @media (min-width: map-get($breakpoints, md)) {
        font-size: 2em;
    }
}

@mixin sectionSubText{
    font-size: 0.6em;
    color: h.$text-colour-secondary;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media (min-width: map-get($breakpoints, sm)) {
        font-size: 0.8em;
    }
}

@mixin subText{
    font-size: 2em;
    font-weight: 600;
    color: h.$text-colour-secondary;
    letter-spacing: 0.05em;

    @media (min-width: map-get($breakpoints, sm)) {
        font-size: 0.8em;
    }
}

@mixin HeroText{
    color: h.$text-colour;
    font-size: 28px;

    @media (min-width: map-get($breakpoints, xs)) {
        font-size: 1.25em;
    }
    @media (min-width: map-get($breakpoints, sm)) {
        font-size: 1.5em;
    }
    @media (min-width: map-get($breakpoints, md)) {
        font-size: 1.7em;
    }
}
@mixin HeroSubText{
    color: h.$text-colour;
    font-size: 20px;

    @media (min-width: map-get($breakpoints, xs)) {
        font-size: 1em;
    }
    @media (min-width: map-get($breakpoints, sm)) {
        font-size: 1.2em;
    }
    @media (min-width: map-get($breakpoints, md)) {
        font-size: 0.8em;
    }
}