@use 'mixins' as m;

.aboutMe{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(555px, 1fr));
    gap: 5em;
    place-items: center;

    margin: 0 2em 0 2em;

    

    height: 100vh;

    @include m.textStyle();
    .about-info{
        width: 100%;
        h2{
            font-size: 1.5em;
            color: aliceblue;
            text-decoration: underline;  
        }
    }

    .about-img{
        // display: flex;
        // justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .aboutMe {
        grid-template-columns: 1fr;
    }
}