@use 'mixins' as m;
@use 'helpers' as h;

.aboutMe{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(555px, 1fr));
    gap: 5em;
    place-items: center;
    justify-content: center;

    height: 100vh;

    @include m.textStyle();
    .about-info{
        width: 100%;
        .about_subText{
            margin: 0;
            @include m.sectionSubText();
        }
        h2{
            margin: 0;
            font-size: 1.5em;
            @include m.sectionHeadText();
        }
    }

    .about-img{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        .room_wrapper{
            width: 100%;
            height: 90%;
        }

        canvas{
            width: 1000%;
            height: 100%;
        }

        .room_img_link{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 100px;
            bottom: 190px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            
            .image_icon{
                width: 100%;
                height: 100%;
                color: h.$text-colour-light;
            }
        }
    }

    .room_modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.5);
    }
}

@media (max-width: map-get(m.$breakpoints, sm)) {
    .aboutMe {
        grid-template-columns: 1fr;
    }
}