@use 'helpers' as h;
@use 'mixins' as m;

.contact-wrapper{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(555px, 1fr));
    gap: 20px;

    min-height: 100vh;
    overflow: hidden;
    margin: 15px 4em;

    p{
        margin: 0;
        @include m.sectionSubText();
    }
    h2{
        margin: 0;
        @include m.sectionHeadText();
    }

    .contact-inside-wrapper{
        width: 40em;
    }

    .email-form{
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 30em;
        margin-top: 1em;

        &> * {
            margin: 3px 0;
        }

        .title-email{
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 2px;
            input{
                flex: 1;
            }
        }

        textarea{
            width: 100%; 
            height: 312px;
            resize: none;
        }

        button{
            padding: 10px 20px;
            border: none;
            background-color: h.$contrast-colour;
            color: h.$text-colour;
            border-radius: 8px;
            transition: background-color 0.3s ease;
            
            &:hover{
                background-color: h.$contrast-colour-darkened;
                cursor: pointer;
            }
        }
    }

    .earth_wrapper{
        width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.responsiveHeight();
        .earth{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            canvas{
                width: 100%;
            }
        }
    }
}

@media (max-width: 799px) {
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}