@use 'mixins' as m;

.contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100vh;

    h2{
        @include m.sectionHeadText();
    }

    .email-form{
        display: flex;
        flex-direction: column;
        align-items: center;

        &> * {
            margin: 3px 0;
        }

        .title-email{
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 2px;
            input{
                flex: 1;
            }
        }

        textarea{
            width: 592px; 
            height: 312px;
            resize: none;
        }

        button{
            width: 60px;
        }
    }

    .contact-img{
        display: flex;
        justify-content: center;

        width: 100%;
    }
}

@media (max-width: 500px) {
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}