@use 'helpers' as h;
@use 'mixins' as m;

.contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    height: 100vh;
    overflow: hidden;
    margin: 15px 0;
    // @include m.sectionMarginTop();

    p{
        margin: 0;
        @include m.sectionSubText();
    }
    h2{
        margin: 0;
        @include m.sectionHeadText();
    }

    .email-form{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 1em;

        &> * {
            margin: 3px 0;
        }

        .title-email{
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 2px;
            input{
                flex: 1;
            }
        }

        textarea{
            width: 592px; 
            height: 312px;
            resize: none;
        }

        button{
            padding: 10px 20px;
            border: none;
            background-color: h.$contrast-colour;
            color: h.$text-colour;
            border-radius: 8px;
            transition: background-color 0.3s ease;
            
            &:hover{
                background-color: h.$contrast-colour-darkened;
                cursor: pointer;
            }
        }
    }

    .earth_wrapper{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        @include m.responsiveHeight();
        .earth{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            canvas{
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}