@use 'helpers' as h;
@use 'mixins' as m;

footer{
    width: 100%;
    border-top: 2px solid h.$text-colour;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include m.sectionSubText();


}