@use './_mixins.scss' as m;
@use './_helpers.scss' as h;

@import url('https://fonts.cdnfonts.com/css/source-code-pro');

.hero{
  height: 88vh;
  position: relative;
}

.hero_main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  .hero_text{
    .intro{
      margin: 0;
      font-family: 'Source Code Pro', sans-serif;
      @include m.HeroText();
    }
    p{
      margin: 0;
      @include m.HeroSubText();
    }
    @media (max-width: 768px) {
      margin-top: 2em;
    }
  }
  .hero_img{
    min-width: 300px;
  }
  button{
    display: inline-block;
    background-color: h.$contrast-colour;
    padding: 12px 24px;
    margin-top: 20px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover{
      color: h.$text-colour;
      background-color: h.$contrast-colour-darkened;
    }

    a{
      text-decoration: none;
    }
  }
}

.scroll_button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: absolute;
    bottom: 0;
    

    @include m.buttonBottom();

    .button{
      display: flex;
      justify-content: center;
      align-items: flex-start;

      width: 16px;
      height: 32px;
      padding: 2px;
      border: 2px solid h.$scroll-button;
      border-radius: 1.5rem;

      .button_circle{
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: h.$scroll-button;
        border-color: h.$scroll-button;
      }
    }

}

@keyframes bob {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
  
.bobbing {
    animation: bob 2s infinite;
}