@use 'helpers' as h;

.loader_wrapper{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;

    .computer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 300px;

        .bevel{
            width: 10em;
            height: 10em;
            background-color: h.$computer-colour;

            display: flex;
            justify-content: center;
            align-items: center;

            z-index: 10;

            box-shadow: 4px 3px 0px 0px #0000007a;

            .screen{
                width: 8em;
                height: 8em;
                background-color: h.$computer-screen;

                position: relative;

                z-index: 1;

                box-shadow:  inset 2px 3px 0px 0px #0000007a;

                .pointer{
                    position: absolute;
                    top: 83px;
                    left: 75px;
                }
                span{
                    position: absolute;
                    transform: translate(40%, 100%);
                    margin-top: 35px;
                    color: h.$text-colour;
                    font-size: large;
                    font-weight: 600;
                }
                .cloud{
                    position: absolute;
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 25%;
                    height: 15%;
                    object-fit: contain;
                    z-index: 1;
                    margin-left: 2px;

                    &-1{
                        top: 49px;
                        margin-left: 5px;
                        opacity: 70%;
                    }
                    &-2{
                        top: 40px;
                        margin-left: 20px;
                        opacity: 50%;
                    }
                    &-3{
                        top: 20px;
                        margin-left: 80px;
                        opacity: 80%;
                    }
                    &-4{
                        top: 50px;
                        margin-left: 90px;
                        opacity: 80%;
                        width: 15%;
                    }
                }
                .ground{
                    position: absolute;
                    bottom: 0;
                    height: 15px;
                    width: 100%;
                    margin-left: 2px;
                    border-radius: 50% 50% 0 0;
                    background-color: h.$ground-colour;
                    z-index: 9;
                }
                .hill{
                    &-1{
                        position: absolute;
                        z-index: 8;
                        height: 26px;
                        width: 5em;
                        bottom: 0;
                        border-radius: 20% 100% 0 0;
                        background-color: darken($color: h.$ground-colour, $amount: 20%);
                    }
                    &-2{
                        position: absolute;
                        z-index: 7;
                        width: 3em;
                        border-radius: 100% 20% 0 0;
                        height: 23px;
                        bottom: 0;
                        right: 0;
                        background-color: lighten($color: h.$ground-colour, $amount: 20%);
                    }
                    &-3{
                        position: absolute;
                        z-index: 6;
                        bottom: 0;
                        width: 3em;
                        height: 26px;
                        margin: 0 4em;
                        border-radius: 50% 50% 0 0;
                        background-color: h.$ground-colour-2;
                    }
                }
            }
        }
        .keyboard{
            width: 6em;
            height: 1.5em;
            background-color: h.$computer-colour;

            display: flex;
            flex-direction: column;
            gap: 3px;
            padding: 3px;
            margin-top: 20px;

            box-shadow: 3px 3px 0px 0px #0000007a; 

            .row{
                display: flex;
                gap: 4px;

                .key{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 5px;
                    height: 5px;
                    background-color: white;
                    box-shadow: 0px 1px 0px 0px #0000007a;
                }
            }
        }
        .mouse{
            display: flex;
            justify-content: center;

            width: 20px;
            height: 25px;
            margin: 20px 0 0 8px;
            border-radius: 40%;
            box-shadow: 2px 2px 0px;
            background-color: h.$computer-colour;

            .mouse_scroll{
                width: 4px;
                height: 5px;
                margin-top: 5px;
                border-radius: 35%;
                box-shadow: 0.5px 0.5px 0px;
                background-color: h.$bg-colour;
            }
        }
        .keyboard_mouse{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
        .bar_wrapper{
            width: 13em;
            height: 0.8em;
            margin-top: 15px;
            border-radius: 5em;
            background-color: h.$subtle-green;
        }
    }
}