@use 'helpers' as h;
@use 'mixins' as m;

html{
    scroll-behavior: smooth;
}

nav{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "left middle right";

    .logo {
        width: 40px; 
        height: auto;
        grid-column: left ;
    }

    .navbar_left{
        margin-left: 1.5em;
    }

    .navbar_right {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 20px;
        list-style: none;
        text-align: center;
        width: 100%;
        justify-content: end;
        align-items: center;
        grid-column: middle;

        @media (min-width: 769px) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            grid-column: middle / span 2;
        }
    }

    .burger_wrapper{
        grid-column: right;
        z-index: 2000;
        cursor: pointer;
    }

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    cursor: pointer;

    li {
        padding: 10px;
        text-align: center;

        a {
            @include m.NavBarText();
            text-decoration: none;
        
            &:hover{
                color: h.$contrast-colour;
            }
        }
    }
}

.download_button{
    background-color: h.$contrast-colour;
    color: h.$text-colour;
    padding: 5px 12px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;

    @include m.NavBarText();

    span{
        margin: 0 2px;
    }

    &:hover{
      background-color: h.$contrast-colour-darkened;
    }

    a{
      text-decoration: none;
    }
}

.menu_toggle_button{
    z-index: 2000;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
}


@media (max-width: 768px) {
    nav{
        margin-top: 0.8em;
    }
    .mobile_nav {
        height: 100vh;
        width: 100%;
        grid-column: 2/3;
        height: 0;
        overflow: hidden;

        .open{
            height: auto;
        }
    }
    .mobile_nav_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        @include m.responsiveNavBarText();

        cursor: pointer;
    }
    .navbar_right{
        grid-area: middle;
    }
    .burger{
        margin-right: 2em;
        grid-area: right;
    }
    .download_button{
        padding: 15px 12px;
    }
}
 
.switch{
    width: 40px;
    height: 15px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 33px;
    padding: 10px;

    background-color: #c8c8c824;

    cursor: pointer;

    input{
        display: none;
    }

    .handle {
        width: 18px;
        height: 18px;
        background-color: white;
        border-radius: 40px;
    }

    @media (max-width: map-get(m.$breakpoints, md)) {
        width: 80px;
        height: 25px;
        .handle{
            width: 25px;
            height: 25px;
        }
    }
}
.switch[data-darkMode="true"] {
    justify-content: flex-end;
}