@use 'helpers' as h;

html{
    scroll-behavior: smooth;
}

.navbar {
    z-index: 1000;
    position: sticky;
    top: 0;
    height: 3em; 
    width: 100%; 
    overflow: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    li {
        padding: 10px;
        text-align: center;
    }
    a {
        color: white;
        text-decoration: none;

        &:hover{
            color: #b98bb0;
        }
    }

    .logo {
        width: 40px; 
        height: auto;
    }

    .navbar-top{
        margin-left: 1.5em;
    }

    .navbar-middle{
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .navbar-bottom{
        margin-right: 1.5em;
        button {
            display: block;
            width: 100%;
            border: none;
            cursor: pointer;
            color: h.$text-colour;
            background-color: rgb(31, 30, 33);
        }
    }
}
  
.mobile-menu {
    display: none;

    @media (max-width: 768px) {
        display: block;

        ul {
        display: none;
        }
    }

    &.open {
        ul {
        display: block;
        }
    }
}