@use 'helpers' as h;
@use 'mixins' as m;

html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 40px; 
        height: auto;
    }

    .navbar-left{
        margin-left: 1.5em;
    }

    .navbar_right {
        z-index: 1000;
        position: sticky;
        top: 0;
        height: 3em; 
        width: 100%; 
        overflow: auto;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
        padding: 10px;
        text-align: center;

        a {
            @include m.NavBarText();
            text-decoration: none;
        
            &:hover{
                color: h.$subtle-green;
            }
        }
    }
}

.download_button{
    background-color: h.$subtle-green;
    color: h.$text-colour;
    padding: 5px 12px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;

    @include m.NavBarText();

    span{
        margin: 0 2px;
    }

    &:hover{
      background-color: darken($color: h.$subtle-green, $amount: 20%);
    }

    a{
      text-decoration: none;
    }
}

.menu_toggle_button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
}

.navbar-collapse {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease;
}

.burger{
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar_right {
        display: none;
    }

    .navbar-collapse {
        height: 0;
        overflow: hidden;
    }
}

 
.mobile_nav{
    width: 100%;
}
.mobile_menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    ul {
        padding: 25px;
        width: 100%;

        li {
            list-style: none;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
      
    .mobile_wrapper{
        display: flex;
        justify-content: flex-end;
    }

    .menu_toggle_button{
        outline: none;
        border: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
    }

    .fa_icon{
        width: 15px;
        height: 15px;
        color: h.$subtle-green;
        &:hover{
            color: darken($color: h.$subtle-green, $amount: 20%);
        }
    }

    @media (max-width: 768px) {
        visibility: visible;
        display: block;
        position: relative;
        ul {
            display: none;
        }
    }

    &.open {
        ul {
            display: block;
        }
    }
}