@use 'mixins' as m;
@use 'helpers' as h;


.myProjects{
    p{
        margin: 0;
        @include m.sectionSubText();
    }
    h2{
        margin: 0;
        @include m.sectionHeadText();
    }
}

.project_desc{
    width: 100%;
    display: flex;
    .description{
        margin-top: 3px;
        color: h.$text-colour-secondary;
        max-width: 30rem;
        line-height: 2rem;
    }
}

.project_cards{
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 7px;

    @include m.textStyle();
}